target/
.git/
Cargo.lock

/target/
*.swp
*.bak

# 忽略 node_modules 文件夹（前端最常用）
node_modules/

# 忽略 dist / build 打包文件夹
dist/
build/

# 忽略日志、临时文件夹
logs/
temp/
tmp/

# 忽略 .idea 或 .vscode 编辑器配置
.idea/
.vscode/

Doc/note_step.md
Cargo.lock
static/0513.html
src/0513.rs
src/main.rs－
data/config.json
static/index.html 页面12号版
static/index.html-0515MF
.gitignore
.gitignore
static/index.html－9999error
setting/config.json_Persion
tar.gz.fx.sh
